<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="2" name="Suite" parallel="tests" >
    <test name="com.FirstTest" parallel="methods" thread-count="5">
        <parameter name="browser" value=""/>
        <classes>
            <class name="FirstTest">
                <methods>
                    <include name="google1" />
                    <include name="google2" />
                    <include name="google3" />
                </methods>
            </class>
            <class name="SecondTest">
                <methods>
                    <include name="google4" />
                    <include name="yandex" />
                </methods>
            </class>
        </classes>
    </test>
</suite>